$breakpoints: (
  'small'   :  500px,
  'medium'  :  768px,
  'large'   : 1024px,
  'xlarge'  : 1140px,
  'xxlarge'   : 1440px
);

$sections: (
  'none'    : 100%,
  'xxxsmall'  :  200px,
  'xxsmall' :  400px,
  'xsmall'  :  600px,
  'small'   :  768px,
  'medium'  :  960px,
  'large'   : 1024px,
  'xlarge'  : 1140px,
  'xxlarge' : 1440px
);

$gaps: (
  'none'    : 0px,
  'xxxsmall'  :   4px,
  'xxsmall' :   8px,
  'xsmall'  :  16px,
  'small'   :  32px,
  'medium'  :  48px,
  'large'   :  64px,
  'xlarge'  :  92px,
  'xxlarge' : 128px,
  'xxxlarge'  : 184px
);

@function section($size: 'xsmall') {
  @return map-get($sections, $size);
}

@function gap($size: 'xsmall') {
  @return map-get($gaps, $size);
}

@function make-it-px($value) {
  @if is-px($value) {
    @return $value;
  }

  @return strip-unit($value) * 10px;
}

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@function is-px($value) {
  @return index('px', unit($value)) != null;
}

@mixin media($size, $what: 'min-width', $offset: true) {
    @if type-of($size) == 'string' {
        $size: map-get($breakpoints, $size);
    }
    $size: make-it-px($size);
    @if $what == 'max-width' and $offset {
        $size: $size - 1;
    }
    @media all and (#{$what}: $size) {
        @content;
    }
}