@import '/../../styles/config.scss';

.pager {
	margin: 20px 0;
}

.pager__list {
	display: flex;
	justify-content: center;
	margin: 20px 0;
	padding-left: 0;
}

.pager__item {
	@include media('medium') {
		display: flex;
	}

	display: none;
	flex: 0 0 30px;
	align-items: center;
	justify-content: center;
	font-size: 14px;

	&.pager-is-hidden {
		display: none;
	}
}

.pager__item--dir {
	display: block;
	font-size: 25px;
}

.pager__link {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
	color: #0A47ED;
	line-height: 30px;
	text-decoration: none;
	
	&:hover {
		color: #00d1d9;
	}

	.disabled & {
		color: #E5E5E5;
		cursor: default;
	}	

	.pager-is-active & {
		font-weight: bold;
		text-decoration: underline;
	}
}
